*{
    font-family: sans-serif;
}


body {                                          
    background-image: url("9.webp");
    background-size: cover;
    color: #FFFFFF;             
    font-family: Arial, sans-serif; 
    margin: 0;                 
    padding: 0;         
    min-height: 100vh;          
    display: flex;              
    flex-direction: column;
    justify-content: space-between;
    animation: bg;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    background-attachment: fixed;
    overflow: auto;
    
}

@keyframes bg{
    from{
        background-image:linear-gradient(to right, rgba(227, 228, 231, 0.715), rgba(255, 255, 255, 0.973)),url("nice.jpg");
    }

    to{
        background-image:linear-gradient(to left, rgba(255, 255, 255, 0.688), rgba(244, 242, 242, 0.468)),url("nice.jpg");
    }
}


main{
    margin-bottom: 50px;
    height: 500px;
    background-color: dark-gray;
}


.c{
    display: flex;
    height: calc(sqr(20));
    justify-content: center;
    border: 5px solid black;
    background-image: url("4.webp");
    background-size: cover;
    overflow: fixed;
    margin-block: 60px;
    text-align:center;
    align-items: center; 
    position: static;
    animation: hoverEffect 5s ease-in-out forwards infinite;

}


@keyframes hoverEffect {
    from {
        box-shadow: 10px 10px 15px rgb(85, 148, 241);
    }
    to {
        box-shadow: 10px 5px 15px rgb(2, 161, 235);
    }
}

@keyframes hoverffect {
    from {
        box-shadow: 10px 10px 15px rgb(153, 194, 255);
    }
    to {
        box-shadow: 10px 10px 15px rgb(95, 162, 194);
    }
}

.c:hover{
    box-shadow: 10px 9px 15px rgb(2, 235, 150);
}

.container2{
    display: block;
    width: 100%;
    height: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;  
    text-align: center;  
    transform-style: preserve-3d;
}




.pa{
    margin-top: 40px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    white-space: nowrap; 
    overflow: hidden;
    /* text-overflow: ellipsis; */
    float:right;
    background-color: rgba(255, 255, 255, 0.3);

}

.jose{
    float: left;
    margin-left: 2px;
    margin-bottom: -10px;
    height: 460px;
    width: 200px;
    max-width: 500px;
    perspective: 800px;
    transform: perspective(800px) rotateY(45deg);
    border-radius:  30%;
    box-shadow: 2px 1px 1px rgb(196, 197, 197);
    
}

#main{
    display: flex;
    height: 67vh;  
    background-image: url("https://www.123freevectors.com/abstract-cool-grey-texture-background-design-120752/");
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: palatino;
    font-size: 10px;
    color: black;
    font-family: sans-serif;
}









/*  footer/contact*/






/* title */



@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0; 
  }
  to {
    transform: translateX(0);
    opacity: 1; 
  }
}

.hd{
    box-sizing: border-box;

    padding-bottom: 5px;
    display: flex;
    height: calc(sqr(25));
    height: 90px;
    justify-content: space-between;
    font-size: 15px;
    border: 5px solid black;
    background-color: gray;
    background-image:linear-gradient(to right, rgba(166, 186, 187, 0.382), rgb(249, 249, 249)),url("1.avif");
    animation: hoverffect 5s ease-in-out forwards infinite;
  
}

.hd:hover{
    box-shadow: 5px 5px 15px rgb(21, 167, 225);
}

.title{
   box-sizing: border-box;
   color: rgb(0, 0, 0); 
   text-shadow: 5px 5px 10px rgb(236, 241, 243);
   animation:a;
   animation-iteration-count: 1;  
   animation-name: slideIn;
   animation-duration: 1s; /* How long the animation takes */
   animation-timing-function: ease-out; /* Makes the animation smoother */
   animation-fill-mode: forwards; 
   background-color: dark-gray;
   overflow: auto;
}
/*nav  */
.styled-list {
  box-sizing: border-box;
  display: flex;  
  color: black;
  padding-bottom:100px;            /* Add space inside the list container */
  margin-left: 20px;             /* Add space outside the list container */
  list-style-type: none;  /* Change bullet type to squares */
  list-style-position: inside; /* Place markers inside the text flow */
  border-radius: 15px;
}

/* Styling the individual list items (li) */
.styled-list li {
  background-color: rgba(0, 233, 250, 0.767);  
  color: #000000; 
  font-weight: bold;          
  margin: 15px ;           
  padding: 5px;   
  width: 100px;           
  border-bottom: 1px solid #ddd; 
  border-radius: 50%;
  text-align: center;
  border: 5px inset black;
}

li:hover{
    
    background-color: rgba(0, 255, 255, 0.396);
}


.no{
    color: black;
    text-decoration: none;
}


.fta{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35vh;
    color: black;
    font-family:monospace;
    font-size: 20px;
    box-shadow: 2px 2px 6px black;
    border: 5px solid black;
    background-image:linear-gradient(to right, rgba(208, 222, 224, 0.844), rgba(200, 209, 215, 0.779)),url("1.avif");
    overflow:auto;


}

.fta:hover{
    box-shadow: 5px 5px 15px rgb(21, 167, 225);
}
    /*work on  */

    
.contact-container {
    background-color: inherit;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto; /* Centers the container on the page */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.contact-container h2 {

    color: #333;
    margin-bottom: 15px;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.contact-info {
    /* Removes the default italics style of the <address> tag */
    font-style: normal; 
    display: flex;
    flex-direction: column; /* Stacks items vertically */
    gap: 10px; /* Adds space between contact items */
    color: black;
}

.contact-item {
    display: flex;
    justify-content: space-between; /* Aligns label and value to opposite ends */
    align-items: center;
    color: black;

}


.contact-item strong {
    color: #555;
    margin-right: 10px;
}

.contact-item a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-item a:hover {
    color: #0056b3;
    text-decoration: underline;
}
